*.log
*.log.lock
*.axf
*.html
*.d
*.o
*.iex
*.sct
*.dep
*.lnp
*.htm
*.hex
*.scvd
Listings/*
LST/*
Output/
Objects/*
project\MDK_V5\objects\*
project\MDK_V5\listings\*
*.uvopt
*.uvgui.Administrator

project/MDK_V5/AT32F421+INA226.uvguix.Administrator
project/MDK_V5/AT32F421+INA226.uvoptx
project/MDK_V5/objects/StupidMeterB.hex_1.bin
project/MDK_V5/listings/StupidMeterB.map
